<div class="col-sm-2 col-md-2" data-screening-id="<%= screening.id %>">
  <div class="media">
    <div class="pull-left" style="width: 80px; margin-right: 5px;">
      <%= image_tag poster_uri(screening.film), alt: screening.film.name, class: 'media-object img-responsive' %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <small><%= local_time(screening.showing_at, '%H:%M') %></small><br />
        <%= screening.film.name %>
      </h4>
      <% if screening.dimension != '2d' -%>
        <span class="label label-info"><%= screening.dimension.upcase %></span>
      <% end -%>
      <span class="label label-default"><%= screening.variant %></span>
    </div>
  </div>
</div>
