<div class="col-sm-6 col-md-4" data-screening-id="<%= screening.id %>">
  <div class="row">
    <div class="col-sm-4" data-screening-id="<%= screening.id %>">
      <%= image_tag poster_uri(screening.film), alt: screening.film.name, class: 'img-responsive' %>
    </div>
    <div class="col-sm-8">
      <h4>
        <%= local_time(screening.showing_at, '%H:%M') %><br />
        <small><%= screening.film.name %></small>
      </h4>
      <% if screening.dimension != '2d' -%>
        <span class="label label-info"><%= screening.dimension.upcase %></span>
      <% end -%>
      <span class="label label-default"><%= screening.variant %></span>
    </div>
  </div>
</div>
