<%- title = "Screenings at #{@cinema.name}" %>

<% content_for(:title) do -%>
  <%= title %>
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li><%= link_to @cinema.name, @cinema %></li>
  <li class="active">Screenings</li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= title %>
  <hr />
<% end -%>

<% @screenings.dates.each do |date| -%>
  <h2><%= local_time(date, '%A %B %e') %></h2>
  <div class="row">
    <% @screenings.on(date).each do |screening| -%>
    <div class="col-sm-2 col-md-2" data-screening-id="<%= screening.id %>">
      <div class="media">
        <div class="pull-left" style="width: 80px; margin-right: 5px;">
          <%= image_tag poster_uri(screening.film), alt: screening.film.name, class: 'media-object img-responsive' %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <small><%= local_time(screening.showing_at, '%H:%M') %></small><br />
            <%= screening.film.name %>
          </h4>
        </div>
      </div>
    </div>
    <% end -%>
  </div>
<% end -%>
