<%- title = "Screenings at #{@cinema.name}" %>

<% content_for(:title) do -%>
  <%= title %>
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li><%= link_to @cinema.name, @cinema %></li>
  <li class="active"><%= link_to 'Screenings', cinema_screenings_path(@cinema) %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= title %>
<% end -%>

<div class="row">
  <% @screenings.each do |screening| -%>
    <div class="col-sm-3">
      <p><%= screening.film.name %> <small><%= local_time(screening.showing_at) %></small></p>
    </div>
  <% end -%>
</div>
