<%# frozen_string_literal: true %>
<% content_for(:title) do -%>
  Edit <%= @film.name %> &bull; Films
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Films', films_path %></li>
  <li><%= link_to 'Triage', triage_path %></li>
  <li class="active">Edit <%= @film.name %></li>
  <li><i><%= link_to 'show', film_path(@film.url) %></i></li>
<% end -%>

<% content_for(:page_header) do -%>
  Edit <small><%= @film.name %></small>
<% end -%>

<div class="row">
  <div class="col-sm-12">
    <h2>Film Details</h2>
  </div>
  <%= form_for @film, method: :put do |f| -%>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tagline %>
        <%= f.text_field :tagline, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :overview %>
        <%= f.text_area :overview, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :runtime %>
        <%= f.text_field :runtime, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :tmdb_identifier %>
        <div class="input-group">
          <%= f.text_field :tmdb_identifier, class: 'form-control' %>
          <% if @film.tmdb_identifier %>
            <span class="input-group-addon">
              <%= link_to 'on TMDB', "http://www.themoviedb.org/movie/#{@film.tmdb_identifier}" %>
            </span>
          <% end -%>
        </div>
      </div>
      <%= button_tag 'Update Film', class: 'btn btn-primary' %>
    </div>
  <% end -%>

  <div class="col-sm-6">
    <h3>Alternate Names</h3>
    <% @film.alternate_names.each do |name| -%>
      <p><%= name %></p>
    <% end -%>
    <%= form_tag film_path(@film), method: :put, class: 'form-vertical', role: 'form' do -%>
      <div class="form-group">
        <%= label_tag :new_name, 'New Alternate Name' %>
        <%= text_field_tag :new_name, '', class: 'form-control' %>
      </div>
      <%= button_tag 'Add to Alternate Names', class: 'btn btn-primary' %>
    <% end -%>
  </div>

  <div class="col-sm-6">
    <hr>
    <div class="panel panel-default">
      <div class="panel-body">
        <% @film.name_hashes.each do |hashed| -%>
          <p><%= hashed %></p>
        <% end -%>
      </div>
      <div class="panel-footer"><i>Name Hashes</i></div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-1">
    <%= image_tag poster_uri(@film), alt: @film.name, class: 'img-responsive' %>
  </div>

  <div class="col-sm-5">
    <%= form_for @film, method: :put do |f| -%>
      <div class="form-group">
        <%= f.label :poster_source_uri %>
        <%= f.text_field :poster_source_uri, class: 'form-control' %>
      </div>
      <%= button_tag 'Set Poster', class: 'btn btn-primary' %>
    <% end -%>
  </div>

  <div class="col-sm-2">
    <%= image_tag backdrop_uri(@film), alt: @film.name, class: 'img-responsive' %>
  </div>

  <div class="col-sm-4">
    <%= form_for @film, method: :put do |f| -%>
      <div class="form-group">
        <%= f.label :backdrop_source_uri %>
        <%= f.text_field :backdrop_source_uri, class: 'form-control' %>
      </div>
      <%= button_tag 'Set Backdrop', class: 'btn btn-primary' %>
    <% end -%>
  </div>
</div>

<hr />

<% unless @film.tmdb_identifier? %>
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Select Film
        <small><%= link_to 'on TMDB...', "https://www.themoviedb.org/search?query=#{querify(@film.name)}" %></small>
      </h3>
    </div>

    <div class="col-sm-6">
      <%= form_for @film, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f| -%>
        <div class="form-group">
          <div class="col-sm-9">
            <%= f.select :tmdb_identifier, options_from_collection_for_select(@film.tmdb_possibles.map { |n| ExternalFilm.new(n) }, :tmdb_id, :title_and_year), {}, class: 'form-control input-sm' %>
          </div>
          <div class="col-sm-3">
            <%= button_tag 'Choose', class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= form_for @film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
        <div class="form-group">
          <%= f.hidden_field :hidden, value: true %>
          <%= button_tag 'Hide', class: 'btn btn-danger btn-sm' %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= form_for @film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
        <div class="form-group">
          <%= f.hidden_field :event, value: true %>
          <%= f.hidden_field :information_added, value: true %>
          <%= button_tag 'Event', class: 'btn btn-warning btn-sm' %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= form_for @film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
        <div class="form-group">
          <%= f.hidden_field :information_added, value: true %>
          <%= button_tag 'No information', class: 'btn btn-warning btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h3>Merge with...</h3>
  </div>

  <div class="col-sm-6">
    <% @similar_films.each do |film| -%>
      <%= form_tag merge_film_path(@film, other_id: film.id), method: :put, class: 'form-inline', role: 'form' do -%>
        <p>
          Merge with '<%= film.name %>'
          <%= button_tag 'Merge into this film', class: 'btn btn-default btn-sm' %>
        </p>
      <% end -%>
    <% end -%>
  </div>

  <div class="col-sm-6">
    <%= form_tag merge_film_path(@film), method: :put, class: 'form-vertical', role: 'form' do -%>
      <div class="form-group">
        <%= text_field_tag :other_id, nil, class: 'form-control' %>
      </div>
      <%= button_tag 'Merge with ID', class: 'btn btn-primary' %>
    <% end -%>
  </div>
</div>
