<% content_for(:title) do -%>
  <%= @film.name %> &bull; Films
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Films', films_path %></li>
  <li class="active"><%= @film.name %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= @film.name %>
  <% if @film.year? -%><small><%= @film.year %></small><% end -%>
<% end -%>

<div class="row">
  <div class="col-sm-push-8 col-sm-4">
    <h3>Showing at...</h3>
    <% @film.cinemas.each do |cinema| %>
    <p><%= link_to cinema.name, cinema %></p>
    <% end %>
  </div>
  <div class="col-sm-pull-4 col-sm-2">
    <%= image_tag poster_uri(@film), class: 'img-responsive' %>
  </div>
  <div class="col-sm-pull-4 col-sm-6">
    <h3><%= @film.tagline %></h3>
    <p class="lead"><%= @film.overview %></p>
    <p class="small">
      <%= @film.runtime %> minutes<br />
      <%= link_to 'tmdb', tmdb_url(@film.tmdb_identifier) %> •
      <%= link_to 'imdb', imdb_url(@film.imdb_identifier) %> •
      <%= @film.id %>
    </p>
  </div>
</div>
