<% content_for(:title) do -%>
  <%= @film.name %> &bull; Films
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Films', films_path %></li>
  <li class="active"><%= @film.name %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= @film.name %>
<% end -%>

<div class="row">
  <% @films.each do |film| %>
    <div class="col-sm-6">
      <p><%= link_to film.name, film %></p>
    </div>
  <% end %>
</div>
