<%# frozen_string_literal: true %>
<% content_for(:title) do -%>
  Films Triage
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Films', films_path %></li>
  <li class="active">Triage</li>
<% end -%>

<% content_for(:page_header) do -%>
  Films Triage
<% end -%>

<hr />

<div class="row">
  <div class="col-sm-12">
    <%= form_tag triage_path, method: :get, class: 'form-inline', role: 'format' do -%>
      <div class="form-group">
        <%= text_field_tag :q, params[:q], class: 'form-control' %>
      </div>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end -%>
  </div>
</div>

<hr />

<% @films.each do |film| %>
  <% other_films = Film.similar_to(film.name).where('id != ?', film.id).select(:id, :name) -%>
  <% cache ['triage-row', film, other_films] do %>
    <div class="row">
      <div class="col-sm-4">
        <h5>
          <%= link_to film.name, edit_film_path(film), title: film.id %>
        </h5>
      </div>
      <% if film.tmdb_possibles.present? && !film.tmdb_identifier? %>
        <div class="col-sm-5">
          <%= form_for film, method: :put, html: { class: 'form-horizontal', role: 'form' } do |f| -%>
            <div class="form-group">
              <div class="col-sm-9">
                <%= f.select :tmdb_identifier, options_from_collection_for_select(film.tmdb_possibles.map { |n| ExternalFilm.new(n) }, :tmdb_id, :title_and_year), {}, class: 'form-control input-sm' %>
              </div>
              <div class="col-sm-3">
                <%= button_tag 'Choose', class: 'btn btn-primary btn-sm' %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-sm-1">
          <%= form_for film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
            <div class="form-group">
              <%= f.hidden_field :hidden, value: true %>
              <%= button_tag 'Hide', class: 'btn btn-danger btn-sm' %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-1">
          <%= form_for film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
            <div class="form-group">
              <%= f.hidden_field :event, value: true %>
              <%= f.hidden_field :information_added, value: true %>
              <%= button_tag 'Event', class: 'btn btn-warning btn-sm' %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          <%= form_for film, method: :put, html: { class: 'form-inline', role: 'form' } do |f| -%>
            <div class="form-group">
              <%= f.hidden_field :information_added, value: true %>
              <%= button_tag 'No information', class: 'btn btn-warning btn-sm' %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-sm-3">
        <%= form_tag merge_film_path(film), method: :put, class: 'form-horizontal', role: 'form' do -%>
          <div class="form-group">
            <div class="col-sm-9">
              <%= select_tag :other_id, options_from_collection_for_select(other_films, :id, :name), class: 'form-control input-sm' if other_films.present? %>
            </div>
            <div class="col-sm-3">
              <%= button_tag 'Merge into this film', class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <%= paginate @films %>
  </div>
</div>
