<%- title = "Performances at #{@cinema.name}" %>

<% content_for(:title) do -%>
  <%= title %>
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li><%= link_to @cinema.name, @cinema %></li>
  <li class="active">Performances</li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= title %>
  <hr />
<% end -%>

<% @performances.dates.each do |date| -%>
  <h2><%= local_time(date, '%A %B %e') %></h2>
  <div class="row">
    <%= render partial: 'performance', collection: @performances.on(date) -%>
  </div>
<% end -%>
