<%# frozen_string_literal: true %>
<%- title = "Performances on #{@date.to_s(:long)} at #{@cinema.name}" %>

<% content_for(:title) do -%>
  <%= title %>
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li><%= link_to @cinema.name, @cinema %></li>
  <li class="active">Performances on <%= @date.to_s(:long) %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= title %>
  <hr />
<% end -%>

<div class="row">
  <%= render partial: 'performance', collection: @performances -%>
</div>
