<% content_for(:title) do -%>
  Cinemas
<% end -%>

<% content_for :breadcrumbs do -%>
  <li class="active">Cinemas</li>
<% end -%>

<% content_for(:page_header) do -%>
  Cinemas
<% end -%>

<div class="row">
  <% @cinemas.each do |cinema| %>
    <div class="col-sm-6">
      <h4>
        <%= link_to cinema.name, cinema_path(cinema) %>
        <%- if cinema.try(:distance) -%>
          <small><%= cinema.distance %></small>
        <%- end -%>
      </h4>
      <p>
        <%= cinema.street_address %>,
        <%= cinema.locality %>
        <%= cinema.postal_code %>
      </p>
    </div>
  <% end %>
</div>
