<% content_for(:title) do -%>
  <%= @cinema.name %> &bull; Cinemas
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li class="active"><%= @cinema.name %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= @cinema.name %>
<% end -%>

<div class="row">
  <div class="col-sm-12">
    <p>
      <%= @cinema.street_address %>,
      <%= @cinema.locality %>
      <%= @cinema.postal_code %><br />
      <small><%= link_to @cinema.screenings_url, @cinema.screenings_url %></small>
    </p>
  </div>
</div>

<h3>Performances</h3>
<hr />

<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <p><%= link_to 'Today', dated_cinema_performances_path(@cinema, when: 'today') %></p>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <p><%= link_to 'Tomorrow', dated_cinema_performances_path(@cinema, when: 'tomorrow') %></p>
  </div>
</div>

<div class="row">
  <% (2..14).each do |num| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <p>
        <% date = num.days.from_now.to_date %>
        <%= link_to dated_cinema_performances_path(@cinema, when: date.to_s) do %>
          <%= local_time date, '%a, %e %b' %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
