<header class="row">
  <ul class="breadcrumbs">
    <li><a href="/">Movies UK</a></li>
    <li><a href="/cinemas">Cinemas</a></li>
    <li class="current"><%= link_to @cinema.name, @cinema %></li>
  </ul>

  <div class="columns">
    <h1><%= @cinema.name %></h1>
  </div>
</header>

<div class="row">
  <div class="columns">
    <p>
      <%= @cinema.street_address %>,
      <%= @cinema.locality %>
      <%= @cinema.postal_code %>
    </p>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h3><%= link_to 'Screenings', cinema_screenings_path(@cinema) %></h3>
  </div>
</div>
