<% content_for(:title) do -%>
  <%= @cinema.name %> &bull; Cinemas
<% end -%>

<% content_for :breadcrumbs do -%>
  <li><%= link_to 'Cinemas', cinemas_path %></li>
  <li class="active"><%= @cinema.name %></li>
<% end -%>

<% content_for(:page_header) do -%>
  <%= @cinema.name %>
<% end -%>

<div class="row">
  <div class="col-sm-12">
    <p>
      <%= @cinema.street_address %>,
      <%= @cinema.locality %>
      <%= @cinema.postal_code %>
    </p>
  </div>
</div>

<h3>Screenings Today • <%= link_to 'All Screenings', cinema_screenings_path(@cinema) %></h3>
<hr />

<div class="row">
  <%= render partial: 'screenings/screening', collection: @cinema.screenings.on(Time.current) -%>
</div>
