<header class="row">
  <ul class="breadcrumbs">
    <li><a href="/">Movies UK</a></li>
    <li><a href="/cinemas">Cinemas</a></li>
    <li class="current"><%= link_to @cinema.name, cinema_path(@cinema) %></li>
  </ul>

  <div class="columns">
    <h1><%= @cinema.name %></h1>
  </div>
</header>

<div class="row">
  <div class="columns">
    <p>
      <%= @cinema.street_address %>,
      <%= @cinema.locality %>
      <%= @cinema.postal_code %>
    </p>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h3>Screenings</h3>
  </div>
  <% @cinema.screenings.order('showing_at ASC').each do |screening| -%>
    <div class="medium-4 large-3 columns">
      <p><%= screening.film.name %> <small><%= screening.showing_at %></small></p>
    </div>
  <% end -%>
</div>
