<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- dev_prefix = Rails.env.development? ? '/dev' : nil %>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= dev_prefix %>/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= dev_prefix %>/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= dev_prefix %>/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= dev_prefix %>/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= dev_prefix %>/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= dev_prefix %>/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= dev_prefix %>/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= dev_prefix %>/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= dev_prefix %>/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="<%= dev_prefix %>/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= dev_prefix %>/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= dev_prefix %>/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= dev_prefix %>/android-chrome-192x192.png" sizes="192x192">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="<%= dev_prefix %>/favicon.ico">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title><%= content_for?(:title) ? yield(:title) : 'At The Movies' %><%= ' • DEVELOPMENT' if Rails.env.development? %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', defer: '', async: '' %>
  </head>

  <body data-js-controller="<%= controller_for_js %>" data-js-action="<%= action_for_js.capitalize %>">
    <ol class="breadcrumb" style="margin-bottom:0">
      <li><a href="/">Movies UK</a></li>
      <%= yield(:breadcrumbs) %>
    </ol>

    <div class="container-fluid">

      <header>
        <h1><%= yield(:page_header) %></h1>
      </header>

      <%= yield %>

      <hr />

      <div class="row">
        <div class="col-sm-12">
          <small>Coming Soon</small>
        </div>
      </div>
    </div>
  </body>
</html>
