<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Movies' %></title>

    <%= stylesheet_link_tag :application, 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<!--
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Movies UK</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">About</a></li>
        </ul>

        <ul class="left">
          <li><a href="#">The iOS App</a></li>
        </ul>
      </section>
    </nav>
 -->
    <%= yield %>

    <%= javascript_include_tag :application %>
  </body>
</html>
