<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'At The Movies' %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/darkly/bootstrap.min.css', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <ol class="breadcrumb" style="margin-bottom:0">
      <li><a href="/">Movies UK</a></li>
      <%= yield(:breadcrumbs) %>
    </ol>

    <div class="container-fluid">

      <header>
        <h1><%= yield(:page_header) %></h1>
      </header>

      <%= yield %>

      <div class="panel panel-default">
        <div class="panel-body">
          Coming 2014
          <!-- <a href="#" class="btn btn-danger" disabled>App Store</a> -->
        </div>
      </div>
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
